:root {
  --accent-color: #2196f3;
  --normal-color: #ffffff;
  --primary-color: #212121;
  --minor-color: #757575;
  --secondary-color: #f5f4fa;
  --secondary-font: "Raleway", sans-serif;
  --accent-text-color: #000000;
  --background-color: #2f303a;
  --main-btn-color: #188ce8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.button {
  font-family: inherit;
  border: transparent;
  cursor: pointer;
}
.header-link,
.current {
  accent-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--normal-color);
}
/*Logo Style*/
.logo {
  font-family: var(--secondary-font);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
  font-family: var(--secondary-font);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*Header Style*/
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--minor-color);
}
.header-tel:hover,
.header-mail:hover,
.header-link:hover,
.header-tel:focus,
.header-mail:focus,
.header-link:focus {
  color: var(--accent-color);
}

/*Main Content Board Style*/
.main-board {
  background-color: var(--background-color);
}

.board-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--normal-color);
}
.main-btn {
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--normal-color);
  background-color: #188ce8;
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--main-btn-color);
}

/* Main Content Style Особенности*/
.features-bottom-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color);
}
.text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}
/* Main Content Style Чим ми займаємося*/
.profile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
/*Main Content  Team Style*/
.team {
  background-color: var(--secondary-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.team-list-item {
  background-color: var(--normal-color);
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/*Footer Style*/
.footer-logo {
  color: var(--normal-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--background-color);
}
.footer-link-map {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-map:hover,
.footer-link-map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
/*PORTFOLIO STYLE*/
/*Potrfolio Main Style*/
.main-btn-item {
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  border-radius: 4px;
}
.main-btn-item:hover,
.main-btn-item:focus {
  color: var(--normal-color);
  cursor: pointer;
  background-color: var(--accent-color);
}

/*Portfolio Project Style*/
.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}
